# Pasta de dependências
/node_modules/

# Arquivos de log
*.log

# Arquivos de configuração do IDE
.idea/

# Arquivos de credenciais
credentials.json

# Arquivos temporários
*.tmp

# Arquivos de configuração específicos do sistema
.DS_Store