* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0D1B3E, #004899);

}